<!DOCTYPE html>
<head>
    <title>Chennai</title>
    <style>
        h2 {text-align: center;}
        .marina_beach {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
    </style>
</head>
<html>
<body>
    <a href="image">Image</a>
    <h2>1.Marina Beach</h2>
    <img src="marina_beach.jpg" class="marina_beach">
    <p style="text-align: center;">
        Tired of the sweltering heat of Chennai? Let the Marina Beach be a sweet escape spot for you. Beaches in Chennai along the Bay of Bengal coast, it happens to be the longest beach in India and one of the longest in the world. Got enough time to pay a visit to this amazing place during the morning or evening? We suggest that you should not miss out on experiencing the enthralling view of the sun setting or rising from the beach. You may shop for trinkets such as imitation jewellery, shell mementos from the stalls on the beach side. Among the best places to visit in Chennai with friends, it is perfect to build sand castles or play games like beach volleyball.
    </p>
    <a href="speak">Speak</a>
    <ul style="text-align: left;">
        <li><b>Timings:</b>All through the day</li>
    </ul>
    <a href="ratings"><button>Add Rating</button></a>
</br></br>
    <h2>2. Valluvar Kottam</h2>
    <img src="valluvar-kottam.jpg" class="marina_beach">
    <p style="text-align: center;">
        Those of you who love literature must have heard or read about the famous Tamil poet and saint, Thiruvalluvar. For the uninformed, Thiruvalluvar is hailed as one of the greatest Tamil scholars. Valluvar Kottam is an intricately designed chariot built in his honour. The magnificence of Valluvar Kottam can be best experienced early in the morning or when the sun is just setting. Wondering how to reach here? It is located at the intersection of Kodambakkam High Road and Village Road; taxis and buses can be taken from around the city.
    </p>
    <ul class="carousel-indicators" style="text-align:left;">
        <li><b>Location:</b>Nungambakkam Lake Area Main Road, Chennai</li>
        <li><b>Timings:</b>8:30 am to 5:30 pm</li>
        <li><b>Entry Fee:</b>₹ 5 (children); ₹ 10 (adults)</li>
     </ul>
    
    
    
</body>
</html>